 @model IEnumerable<Vallet.Domain.DTO.DtoSite.Site>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
            <div class="card">
                <div class="card-body checkout-tab">
                    <form action="GET">
                        <div id="customerList">
                            <div class="row g-4 mb-3">
                                <div class="col-sm-auto">
                                    <div>
                                        <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i>Site Bilgisi Ekle</button>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="d-flex justify-content-sm-end">
                                        <div class="search-box ms-2">
                                            <input type="text" class="form-control search" placeholder="Search...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive table-card mt-3 mb-1">
                                <table class="table align-middle table-nowrap" id="customerTable">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="sort" data-sort="customer_name">Site Adı</th>
                                            <th class="sort" data-sort="customer_name">Site Adresi</th>
                                            <th class="sort" data-sort="customer_name">Apartman mı ?</th>
                                            <th class="sort" data-sort="action">Güncelle/Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list form-check-all">
                                @if (Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                                        <tr>
                                                            <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a></td>

                                                            <td class="customer_name">@item.siteName</td>
                                                            <td class="customer_name">@item.siteAddress</td>
                                                            <td class="customer_name">@item.siteIsApartment</td>
                                                            <td>
                                                                <div class="d-flex gap-2">
                                                                    <div class="edit">
                                                                        <a href="/Admin/SiteUpdate/@item.id" class="btn btn-sm btn-success edit-item-btn">Güncelle</a>
                                                                    </div>
                                                                    <div class="remove">
                                                                        <button asp-action="DeleteSite" asp-controller="Site" onclick="setDeleteUserId('@item.id')"
                                                                                data-bs-toggle="modal" data-bs-target="#deleteRecordModal"
                                                                                type="button" class="btn btn-sm btn-soft-success btn-circle mr-2">
                                                                            Sil
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                    }
                                }
                                else
                                {
                                                <tr>
                                                    <td colspan="4" class="text-center">Tabloda gösterilecek veri bulunmamaktadır.</td>
                                                </tr>
                                }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </form>

                    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-light p-3">
                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                            id="close-modal"></button>
                                </div>
                                <form asp-action="SiteCreate" method="post" asp-contoroller="Admin">
                                    <div class="modal-body">

                                        <div class="mb-3">
                                            <label for="customername-field" class="form-label">Site Adı</label>
                                            <input type="text" name="siteName" class="form-control" placeholder="Ad giriniz" required />
                                        </div>

                                        <div class="mb-3">
                                            <label for="email-field" class="form-label">Site Adresi</label>
                                            <input type="text" name="siteAddress" class="form-control" placeholder="Adres giriniz" required />
                                        </div>

                                        <div>
                                            <label for="status-field" class="form-label">Apartman mı</label>
                                            <select class="form-control" name="siteIsApartment">
                                                <option value="">Apartman</option>
                                                <option value="true">Evet</option>
                                                <option value="false">Hayır</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Kapat</button>
                                            <button type="submit" class="btn btn-success" id="add-btn">Ekle</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mt-2 text-center">
                                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                                   colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                            <h4> Son Kararın Mı ?</h4>
                                            <p class="text-muted mx-4 mb-0">Silmek istediğinden emin misin ?</p>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Kapat</button>
                                        <form asp-action="DeleteSite" asp-controller="Site" method="post">
                                            <input type="hidden" id="Id" name="Id" />
                                            <button type="submit" class="btn w-sm btn-danger " name="DeleteSite">Evet! Sil</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end modal -->
                </div>
            </div>
        </div>
<script>
    function setDeleteUserId(userId) {
        document.getElementById("Id").value = userId;
    };
</script>
